@import "@/styles/variables.scss";

.Button {
  padding: 14px 48px;
  color: $text-color;
  border: 1.5px solid $primary-color;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: $primary-color;
  }
}
